flows.json
[{"id":"1506b422.5c734c","type":"tab","label":"NAC4","disabled":false,"info":""},{"id":"6185f01c.9e0f2","type":"serial in","z":"1506b422.5c734c","name":"","serial":"80905236.8d4f4","x":130,"y":380,"wires":[["ed4b9b8a.fa8a48","af5827ca.a0d9d8"]]},{"id":"54529ec5.feb34","type":"change","z":"1506b422.5c734c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.luminosidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["c370309c.93d63","577ef747.04b8d8"]]},{"id":"a73b8044.c7ac6","type":"change","z":"1506b422.5c734c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":140,"wires":[["2203f2c0.fedb4e","679ee2c9.fd76ac"]]},{"id":"ed4b9b8a.fa8a48","type":"json","z":"1506b422.5c734c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":380,"wires":[[]]},{"id":"af5827ca.a0d9d8","type":"json","z":"1506b422.5c734c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":380,"wires":[["a73b8044.c7ac6","54529ec5.feb34","77fba64a.b28e08","91cf5d0c.0959"]]},{"id":"2203f2c0.fedb4e","type":"ui_gauge","z":"1506b422.5c734c","name":"","group":"69481dd6.fd0184","order":6,"width":"5","height":"5","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":"20","max":"42","colors":["#00e1ff","#00ff11","#ca3838"],"seg1":"33","seg2":"38","x":800,"y":180,"wires":[]},{"id":"c370309c.93d63","type":"ui_gauge","z":"1506b422.5c734c","name":"","group":"69481dd6.fd0184","order":6,"width":"5","height":"5","gtype":"gage","title":"Luminosidade","label":"lux","format":"{{value}}","min":"1","max":"999","colors":["#ffee00","#ffee00","#ffee00"],"seg1":"33","seg2":"38","x":800,"y":340,"wires":[]},{"id":"577ef747.04b8d8","type":"debug","z":"1506b422.5c734c","name":"luminosidade","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":260,"wires":[]},{"id":"679ee2c9.fd76ac","type":"debug","z":"1506b422.5c734c","name":"temperatura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"62d0c308.b8748c","type":"debug","z":"1506b422.5c734c","name":"vento","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":420,"wires":[]},{"id":"77fba64a.b28e08","type":"change","z":"1506b422.5c734c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vento","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":460,"wires":[["62d0c308.b8748c","2a9cb5be.44ef9a"]]},{"id":"f1a06c30.5d3b3","type":"debug","z":"1506b422.5c734c","name":"alerta negativo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":580,"wires":[]},{"id":"91cf5d0c.0959","type":"change","z":"1506b422.5c734c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alerta","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":660,"wires":[["f7b17203.5183c"]]},{"id":"2a9cb5be.44ef9a","type":"ui_gauge","z":"1506b422.5c734c","name":"","group":"69481dd6.fd0184","order":6,"width":"5","height":"5","gtype":"gage","title":"Velocidade do vento","label":"Km/h","format":"{{value }}","min":"0","max":"80","colors":["#00ff11","#ffee00","#ca3838"],"seg1":"","seg2":"","x":820,"y":500,"wires":[]},{"id":"4951851e.76aa6c","type":"comment","z":"1506b422.5c734c","name":"Porta serial que conecta o node com o Arduino","info":"","x":95,"y":340,"wires":[],"l":false},{"id":"67ba4ec1.970c8","type":"twitter out","z":"1506b422.5c734c","twitter":"","name":"Tweet","x":1150,"y":740,"wires":[]},{"id":"4bcbbfa5.b1537","type":"function","z":"1506b422.5c734c","name":"envia_tweet","func":"msg.payload = \"Atenção, região com ventos acima de 80 Km/h\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":740,"wires":[["67ba4ec1.970c8"]]},{"id":"e1692b.12c956d8","type":"debug","z":"1506b422.5c734c","name":"alerta positivo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":660,"wires":[]},{"id":"f7b17203.5183c","type":"switch","z":"1506b422.5c734c","name":"validação","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":740,"y":660,"wires":[["f1a06c30.5d3b3"],["4bcbbfa5.b1537","e1692b.12c956d8"]]},{"id":"dad981a.457758","type":"comment","z":"1506b422.5c734c","name":"Coverte as informações em objetos json","info":"","x":255,"y":340,"wires":[],"l":false},{"id":"1c9712a0.a2264d","type":"comment","z":"1506b422.5c734c","name":"Filtra um campo específico","info":"","x":475,"y":100,"wires":[],"l":false},{"id":"bc89b5b8.4d6508","type":"comment","z":"1506b422.5c734c","name":"Exibe a temperatura no debug","info":"","x":915,"y":100,"wires":[],"l":false},{"id":"a31506e3.7ed228","type":"comment","z":"1506b422.5c734c","name":"Exibe a temperatura na dashboard","info":"","x":895,"y":180,"wires":[],"l":false},{"id":"56e05aaa.c47e34","type":"comment","z":"1506b422.5c734c","name":"Verifica se o alerta está sendo emitido ou não","info":"","x":695,"y":620,"wires":[],"l":false},{"id":"cfc11673.e3c918","type":"comment","z":"1506b422.5c734c","name":"Define a mensagem que será enviada","info":"","x":915,"y":780,"wires":[],"l":false},{"id":"b3a05655.4f0bf8","type":"comment","z":"1506b422.5c734c","name":"Publica o tweet de alerta","info":"","x":1235,"y":740,"wires":[],"l":false},{"id":"80905236.8d4f4","type":"serial-port","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"69481dd6.fd0184","type":"ui_group","name":"Sensores","tab":"fd8491d.339287","order":1,"disp":true,"width":"15","collapse":false},{"id":"fd8491d.339287","type":"ui_tab","name":"NAC4","icon":"dashboard","disabled":false,"hidden":false}]